<section class="vh-100" style="background-color: #C1CFEA;">
    <div class="container py-5 h-100">
        <h2 style="text-align: center;">Sports</h2>
        <div style="display:flex;justify-content:center;align-items:center">
            <!--  -->


            <form #MainForm="ngForm" (ngSubmit)=getWeatherData(MainForm.value);getWeatherNewData(MainForm.value)
                class="form-inline mt-4 mb-4">

                <div class="form-group mx-sm-3 mb-2">
                    <label for="staticEmail2" class="sr-only">Type City</label>

                    <input type="text" id="input-username" class="form-control form-control-alternative" name="City"
                        placeholder="Enter City here" ngModel>

                </div>
                <button type="submit" class="btn btn-primary mb-2">Check</button>
            </form>
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100" style="color: #282828;">
            <div class="col-md-9 col-lg-7 col-xl-10">

                <div class="card mb-4 gradient-custom" style="border-radius: 25px;">
                    <div class="card-body p-4">
                        <div id="demo1" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators mb-0">
                                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                                <li data-target="#demo1" data-slide-to="1"></li>
                                <li data-target="#demo1" data-slide-to="2"></li>
                            </ul>
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h2 style="text-align: center;padding: auto;">Cricket</h2>

                                    <div class="d-flex justify-content-between mb-4 pb-2">

                                        <table class="table table-striped">
                                            <thead>
                                                <tr >
                                                    <th scope="col">#</th>
                                                    <th scope="col">Match</th>
                                                    <th scope="col">Country</th>
                                                    <th scope="col">Start</th>
                                                    <th scope="col">Statdium</th>
                                                    <th scope="col">tournament</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let country of setCricket; index as i">
                                                    <th scope="row">{{ i + 1 }}</th>
                                                    <td>
                                                      
                                                        {{ country.match }}
                                                    </td>
                                                    <td>{{country.country}}</td>
                                                    <td>{{ country.start}}</td>
                                                    <td>{{ country.stadium}}</td>
                                                    <td>{{ country.tournament}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4" style="border-radius: 25px;">
                    <div class="card-body p-4">

                        <div id="demo2" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators mb-0">
                                <li data-target="#demo2" data-slide-to="0"></li>
                                <li data-target="#demo2" data-slide-to="1" class="active"></li>
                                <li data-target="#demo2" data-slide-to="2"></li>
                            </ul>
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h2 style="text-align: center;padding: auto;">Football</h2>

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Match</th>
                                                <th scope="col">Country</th>
                                                <th scope="col">Start</th>
                                                <th scope="col">Statdium</th>
                                                <th scope="col">tournament</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let country of setFootball; index as i">
                                                <th scope="row">{{ i + 1 }}</th>
                                                <td>
                                                      
                                                    {{ country.match }}
                                                </td>
                                                <td>{{country.country}}</td>
                                                <td>{{ country.start}}</td>
                                                <td>{{ country.stadium}}</td>
                                                <td>{{ country.tournament}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card mb-4" style="border-radius: 25px;">
                    <div class="card-body p-4">

                        <div id="demo2" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators mb-0">
                                <li data-target="#demo2" data-slide-to="0"></li>
                                <li data-target="#demo2" data-slide-to="1" class="active"></li>
                                <li data-target="#demo2" data-slide-to="2"></li>
                            </ul>
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h2 style="text-align: center;padding: auto;">Golf</h2>

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Match</th>
                                                <th scope="col">Country</th>
                                                <th scope="col">Start</th>
                                                <th scope="col">Statdium</th>
                                                <th scope="col">tournament</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let country of setGolf  ; index as i">
                                                <th scope="row">{{ i + 1 }}</th>
                                                <td>
                                                      
                                                    {{ country.match }}
                                                </td>
                                                <td>{{country.country}}</td>
                                                <td>{{ country.start}}</td>
                                                <td>{{ country.stadium}}</td>
                                                <td>{{ country.tournament}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                

            </div>
        </div>

    </div>
</section>