<section class="vh-100" style="background-color: #C1CFEA;">
    <div class="container py-5 h-100">
        <div style="display:flex;justify-content:center;align-items:center">
            <!--  -->
            <form #MainForm="ngForm" (ngSubmit)=getWeatherData(MainForm.value);getWeatherNewData(MainForm.value) class="form-inline mt-4 mb-4">

                <div class="form-group mx-sm-3 mb-2">
                    <label for="staticEmail2" class="sr-only">Type City</label>

                    <input type="text" id="input-username" class="form-control form-control-alternative" name="City"
                        placeholder="Enter City here" ngModel>

                </div>
                <button type="submit" class="btn btn-primary mb-2">Check</button>
            </form>
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100" style="color: #282828;">
            <div class="col-md-9 col-lg-7 col-xl-5">

                <div class="card mb-4 gradient-custom" style="border-radius: 25px;">
                    <div class="card-body p-4">

                        <div id="demo1" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators mb-0">
                                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                                <li data-target="#demo1" data-slide-to="1"></li>
                                <li data-target="#demo1" data-slide-to="2"></li>
                            </ul>
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-between mb-4 pb-2">
                                        <div>
                                            <h2 class="display-2"><strong>{{WeatherData.current.temp_c}}°C</strong></h2>
                                            <p class="text-muted mb-0">{{WeatherData.location.name}} ,
                                                {{WeatherData.location.region}} ,{{WeatherData.location.country}}</p>
                                        </div>
                                        <div>
                                            <img src={{WeatherData.current.condition.icon}} width="150px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4" style="border-radius: 25px;">
                    <div class="card-body p-4">

                        <div id="demo2" class="carousel slide" data-ride="carousel">
                           
                            <!-- Indicators -->
                            <ul class="carousel-indicators mb-0">
                                <li data-target="#demo2" data-slide-to="0"></li>
                                <li data-target="#demo2" data-slide-to="1" class="active"></li>
                                <li data-target="#demo2" data-slide-to="2"></li>
                            </ul>
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div *ngFor="let item of WeatherData.forecast.forecastday"
                                        class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                                        <div *ngFor="let items of item.hour" class="flex-column">
                                            <p class="small"><strong>{{items.temp_c}}°C</strong></p>
                                           <img src="{{items.condition.icon}}">
                                            <p class="mb-0"><strong>{{moment(items.time).format('HH:MM')}}</strong></p>
                                            <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card" style="border-radius: 25px;">
                    <div class="card-body p-4">

                        <div id="demo3" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators mb-0">
                                <li data-target="#demo3" data-slide-to="0"></li>
                                <li data-target="#demo3" data-slide-to="1"></li>
                                <li data-target="#demo3" data-slide-to="2" class="active"></li>
                            </ul>
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                                      
                                            <!-- <div class="flex-column">
                                                <p class="small"><strong>21°C</strong></p>
                                                <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                                                <p class="mb-0"><strong>Mon</strong></p>
                                            </div> -->

                                        <div class="flex-column">
                                            <p class="small"><strong>Sunrise</strong></p>
                                            <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>{{setAstrnomyData.astronomy.astro.sunrise}}</strong></p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>Sunset</strong></p>
                                            <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>{{setAstrnomyData.astronomy.astro.sunset}}</strong></p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>Monrise</strong></p>
                                            <i class="fas fa-moon fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>{{setAstrnomyData.astronomy.astro.moonset}}</strong></p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>Moonset</strong></p>
                                            <i class="fas fa-moon fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>{{setAstrnomyData.astronomy.astro.moonrise}}</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>